<section id="projetos" class="bg-body-secondary" text-white>
  <article class="container d-flex flex-column my-5">
    <h2 class="display-5 fw-medium fst-italic text-center text-secundary">Projetos</h2>

    <p class="mt-5 fs-5 text-center">
      Conheça os projetos que eu desenvolvi com as <strong> tecnologias</strong> acima!
    </p>

    <ol>
      @for (projeto of projetos; track projeto.titulo; let indice = $index) {
        <li class="d-flex align-items-start gap-4 border-bottom border-white-subtle py-4">
          <span class="fs-1 fw-medium fst-italic" aria-hidden="true">{{
            (indice + 1).toString().padStart(2, '0')
          }}</span>

          <article class="d-flex flex-column gap-3 flex-grow-1">
            <h3 class="fs-2 fw-medium fst-italic text-secundary">{{ projeto.titulo }}</h3>

            <p class="fs-5 mb-0">{{ projeto.descricao }}</p>

            <div class="d-flex flex-wrap aling-items-center gap-3 mt-3">
              <div class="d-flex flex-wrap gap-2" aria-label="Tecnologias Ultizadas">
                @for (tecnologia of projeto.tecnologias; track tecnologia) {
                  <span class="badge rounded-pill border border-light-subtitle text- px-3 py-2">
                    {{ tecnologia }}
                  </span>
                }
              </div>

              <div class="d-flex flex-wrap gap-2 ms-auto">
                @if (projeto.urlImagem) {
                  <button
                    type="button"
                    class="btn btn-outline-dark rounded-pill d-inline-flex aling-items-center gap-2"
                  >
                    <i class="bi bi-image"></i>
                    Ver Imagem
                  </button>
                }

                <a
                  [href]="projeto.urlRepositorio"
                  target="_blank"
                  rel="nopener noreferrer"
                  class="btn btn-outline-dark rounded-pill d-inline-flex aling-items-center gap-2"
                >
                  <i class="bi bi-github"> Repositorio </i>
                </a>
              </div>
            </div>
          </article>
        </li>
      }
    </ol>
  </article>
</section>
