<section id="sobre" class="bg-secondary mt-4 mt-lg-0">
  <div class="container my-auto">
    <div class="row align-items-center g-3">
      <div class="col-lg-7 order-1 order-lg-0">
        <div>
          <p class="display-5 mb-1">Olá, eu sou <strong class="fw-bold">Kauan Silva</strong>!</p>
          <span class="display-3 fw-bold fst-italic sobre-banner-text"
            >Desenvolvedor Fullstack.</span
          >
        </div>

        <div class="mt-4">
          <p class="fs-5">
           Desenvolvedor <strong> FullStack</strong> apaixonado por tecnologia, estudo programação desde meus 
           <strong>12 anos </strong> de idade e hoje estou cursando
            a <strong>Academia Do Programador</strong>
          </p>
        </div>

        <div class="d-flex flex-wrap align-items-center gap-3 fs-5">
          <span>
            <i class="bi bi-geo-alt fs-5"></i>
            Lages, SC - Brasil
          </span>

          <span>-</span>

          <span>
            <i class="bi bi-envelope-at fs-5"></i>
            kauanmacedo338&#64;gmail.com
          </span>

          <span>-</span>

          <span class="d-flex justify-content-center gap-2">
            <a target="_blank" href="https://github.com/k-silvax19">
              <i class="bi bi-github fs-1"></i>
            </a>

            <a target="_blank" href="https://www.linkedin.com/in/kauan-silva-711aa03a6/">
              <i class="bi bi-linkedin fs-1"></i>
            </a>
          </span>
        </div>
      </div>

      <div class="col-auto mx-auto sobre-banner-img">
        <img class="img-fluid rounded-circle" src="/img/tiotatu.png" alt="Foto de Tio Tatu" />
      </div>
    </div>
  </div>
</section>